<!--Carousel Wrapper-->
<div id="carousel-ex" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-ex" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-ex" data-slide-to="1"></li>
    <li data-target="#carousel-ex" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">

      <div class="view" style="background-image: url('https://images.pexels.com/photos/2105239/pexels-photo-2105239.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-repeat: no-repeat; background-size: cover">
        
        <div class="mask rgba-black-strong d-flex
        justify-content-center align-items-center">

        <div class="text-center white-text mx-5 wow fadeIn">

        <h1 class="mb-4">
          <strong style="font-size: 70px;">ᴇᴀꜱʏꜱʜᴏᴘ</strong>
        </h1>

        <p>
          <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores consectetur pariatur in deserunt, distinctio possimus! Totam id error sit ex dolores laborum numquam. Dolore recusandae velit culpa ab odio?</strong>
        </p>

        <p class="mb-4 d-none d-md-block">
          <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias eaque doloremque error nam nobis?</strong>
        </p>

        <div class="pt-4 text-center">
        <a href="#" role="button" class="btn btn-outline-white btn-lg waves-effect">
          Lorem, ipsum dolor.
          <i class="fas fa-graduation-cap ml-2"></i>
        </a>

        {{# if login }}
        <a role="button" class="btn btn-outline-white btn-lg waves-effect" href="/user/profile">
          User Account
          <i class="fas fa-user-circle ml-2"></i>  
        </a>
        {{ else }}
        <a role="button" class="btn btn-outline-white btn-lg waves-effect" href="/user/signin">
          Sign In
          <i class="fas fa-sign-in-alt ml-2"></i>  
        </a>
        {{/if}}
        </div>

        </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">

      <div class="view" style="background-image: url('https://images.pexels.com/photos/2817452/pexels-photo-2817452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-repeat: no-repeat; background-size: cover">
        
        <div class="mask rgba-black-strong d-flex
        justify-content-center align-items-center">

        <div class="text-center white-text mx-5 wow fadeIn">

        <h1 class="mb-4">
          <strong style="font-size: 70px;">ᴇᴀꜱʏꜱʜᴏᴘ</strong>
        </h1>

        <p>
          <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores consectetur pariatur in deserunt, distinctio possimus! Totam id error sit ex dolores laborum numquam. Dolore recusandae velit culpa ab odio?</strong>
        </p>

        <p class="mb-4 d-none d-md-block">
          <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias eaque doloremque error nam nobis?</strong>
        </p>

        <div class="pt-4 text-center">
        <a href="#" role="button" class="btn btn-outline-white btn-lg waves-effectw">
          Lorem, ipsum dolor.
          <i class="fas fa-graduation-cap ml-2"></i>
        </a>
        {{# if login }}
        <a role="button" class="btn btn-outline-white btn-lg waves-effect" href="/user/profile">
          User Account
          <i class="fas fa-user-circle ml-2"></i>  
        </a>
        {{ else }}
        <a role="button" class="btn btn-outline-white btn-lg waves-effect" href="/user/signin">
          Sign In
          <i class="fas fa-sign-in-alt ml-2"></i>  
        </a>
        {{/if}}
        </div>

        </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">

      <div class="view" style="background-image: url('https://images.pexels.com/photos/2309235/pexels-photo-2309235.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-repeat: no-repeat; background-size: cover">
        
        <div class="mask rgba-black-strong d-flex
        justify-content-center align-items-center">

        <div class="text-center white-text mx-5 wow fadeIn">

        <h1 class="mb-4">
          <strong style="font-size: 70px;">ᴇᴀꜱʏꜱʜᴏᴘ</strong>
        </h1>

        <p>
          <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores consectetur pariatur in deserunt, distinctio possimus! Totam id error sit ex dolores laborum numquam. Dolore recusandae velit culpa ab odio?</strong>
        </p>

        <p class="mb-4 d-none d-md-block">
          <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias eaque doloremque error nam nobis?</strong>
        </p>

        <div class="pt-4 text-center">
        <a href="#" role="button" class="btn btn-outline-white btn-lg waves-effectw">
          Lorem, ipsum dolor.
          <i class="fas fa-graduation-cap ml-2"></i>
        </a>

        {{# if login }}
        <a role="button" class="btn btn-outline-white btn-lg waves-effect" href="/user/profile">
          User Account
          <i class="fas fa-user-circle ml-2"></i>  
        </a>
        {{ else }}
        <a role="button" class="btn btn-outline-white btn-lg waves-effect" href="/user/signin">
          Sign In
          <i class="fas fa-sign-in-alt ml-2"></i>  
        </a>
        {{/if}}
        </div>

        </div>
        </div>
      </div>
    </div>
    
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-ex" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  
  <a class="carousel-control-next" href="#carousel-ex" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->