<head>

    <title>{{title}}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <!-- Custom style.css -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- Carousel -->
    <style>
    html,
    body,
    header,
    .carousel{
      height: 60vh;
    }
    @media (max-width:740px){
    html,
    body,
    header,
    .carousel{
      height: 100vh;
    }
    @media (min-width:800px) and (max-width:850px){
    html,
    body,
    header,
    .carousel{
      height: 100vh;
    }
    }
    }

    html,
    body,
    header,
    .view {
      height: 100%;
    }
    </style>
    
  </head>